+b.SECTION.page
	.container
		+e.row._reverse._y-center.row
			.col-12.col-sm-6
				+e.image
					img(src="img/bio-image-1.jpg")
			.col-12.col-sm-6
				+b.group
					+e.P.title
						span Introduce 
						| Yourself
				+e.content
					p What’s your core message?
					p Lets people know what you do and how you can help them
			
		+e.row._x-center.row
			.col-12.col-sm-10
				+b.group
					+e.P.title Next, Tell your story
				+e.content
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
		+e.row._y-center.row
			.col-12.col-sm-6
				+e.image
					img(src="img/bio-image-2.jpg")
			.col-12.col-sm-6
				+b.group
					+e.P.title
						span What can
						br
						| Explain to other
				+e.content
					p What will they  have aftre you?
					p How wil they fill after you?
					p How wil they fill after you?