+b("form")
	$self: &

	width: 100%

	@if $themeFormDesign == "new"
		input:not([type="submit"])
			+input-default
			border: none
			border-bottom: 1px solid #bfbfbf
			margin-bottom: 15px
			
			+min(sm)
				margin-bottom: 30px

			&:focus
				border-color: $color-brand-2

				+placeholder
					color: transparent
		input[type="submit"]
			cursor: pointer
			&:hover
				color: $color-brand-1
				border-color: $color-brand-1