extends /extends/layout
block variables
	- var title = "Oleksii Osyka - Biography";
	- var description = "Oleksii Osyka - Biography";
block nav
	include /components/nav
block content
	include /components/header-page
	include /sections/bio
	include /sections/contact
block footer
	include /components/footer