extends /extends/layout
block variables
	- var title = "Oleksii Osyka";
	- var description = "Oleksii Osyka";
block nav
	include /components/nav
block content
	include /components/header
	include /sections/music-videos
	include /sections/contact
block footer
	include /components/footer