$group-title: ('default': 40px, 'xs': 45px, 'sm': 50px, 'md': 55px, 'lg': 60px)

+b('group')
	margin-bottom: 30px

	+min(sm)
		margin-bottom: 45px

	+e('title')
		+relative
		text-transform: uppercase
		line-height: 1.1
		font-weight: 100
		+fs-simple($group-title)

		span
			color: $color-brand-2
			font-weight: bold

	+e('description')

		+max(sm)
			margin-top: 30px

	+m('inline')
		
		+b('group')
			+e('title')
				+min(sm)
					padding-right: 45px
					margin-right: 45px
					&:before
						content: ''
						+absolute(0, 0, null, null)
						background-color: $color-brand-2
						opacity: 0.2
						+size(2px, 100%)
						transform: rotate(15deg)

		+min(sm)
			display: flex
			align-items: center

			+b('group')
				+e('description')
					padding-right: 5%