-
	const navigation = [
		{
			name: 'Reel',
			link: '#'
		},
		{
			name: 'Music Videos',
			link: '#'
		},
		{
			name: 'Films',
			link: '#'
		},
		{
			name: 'Commercial',
			link: '#'
		},
		{
			name: 'Bio',
			link: '#'
		},
		{
			name: 'Contacts',
			link: '#'
		}
	];