+b.HEADER.header._full._background
	+e.container.container
		+e.H1.title._big
			span Oleksii 
			| Osyka
		+e.H2.subtitle
			| DP, Cinematographer, Director, Cameraman
		+b.BUTTON.btn._border-white.effect._bounce-top Contact Me