+b.HEADER.header._small._background
	+e.IMG.image(src="img/bg-header.jpg")
	+e.container.container
		+e.H1.title._big
			strong Bio 
			| graphy
		+e.H2.subtitle
			| DP, Cinematographer, Director, Cameraman