+b.HEADER.header._full._background
	+e.video
		+e.IFRAME.video-iframe(src="https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen)
	+e.container.container
		+e.H1.title._big
			strong Oleksii 
			| Osyka
		+e.H2.subtitle
			| DP, Cinematographer, Director, Cameraman
		+b.BUTTON.btn._border-white.effect._bounce-top Contact Me